$white: #ffffff;
$black: #333333;
$side-top: #253141;
$side-group: #2f3e51;
$chat-info-bottom-line: #eeeeee;
$time-stamp: #999999;
$send-btn: #38aef0;
$message-form: #d2d2d2;
$chat-main-back: #fafafa;
$chat-message: #434a54;
