$white: #fff;
$black1: #333333;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$chat-info-bottom-line: #eeeeee;
$light_gray: #999;
$light_blue: #38aef0;
$message-form: #d2d2d2;
$chat-main-back: #fafafa;
$black: #434a54;
$alert_orange: #F35500;
